header {
  --_animationStartsAfter: 50vh;
  --_animationDistance: 500px;
  --_surfaceColorStart: hsl(0 10% 5%);
  --_surfaceColorEnd: hsl(0 50% 90% / 0.1);

  padding: 1rem 3rem;
  margin-inline: auto;
  margin-block: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;

  position: sticky;
  top: 0;
  z-index: 1000;

  @supports (animation-timeline: view()) {
    /* top: -5rem; */

    backdrop-filter: blur(0.35rem);

    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartsAfter));
    animation-range-end: calc(
      100vh + var(--_animationStartsAfter) + var(--_animationDistance)
    );
  }

  h2 {
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a {
    padding: 8px;
    border-radius: 16px;
  }

  li:first-child a {
    background-color: #D91400;
    color: white;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: 500;

    &:hover,
    &:focus {
      color: var(--clr-primary-300);
      text-decoration: underline;
      text-decoration-thickness: 0.07lh;
      text-underline-offset: 0.17lh;
    }
  }
}

@keyframes stickyNav {
  100% {
    top: 0rem;
    color: black;
    width: 100%;
    background-color: white;
    box-shadow: inset 0 0 0.5rem hsl(0 0% 100% / 0.1),
      0 0 0.75rem hsl(0 0% 0% / 0.3);
  }
}
